body, html {
    box-sizing: border-box;
    width: 100%;
}

.nav-item {
    margin: 0 15px;
}

#content {
    min-height: calc(100vh - 120px);
    width: 100%;
    height: 100%;
}

#logo {
    height: 70px;
}

.cover {
    height: 70vh;
    background-image: url("imgs/img-1.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}

.cover-filter {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.cover-caption {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0 20px
}

.cover-caption-copy {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

#line {
    background: white;
    width: 10rem;
    height: 1px;
    margin: 10px auto;
}

/*fix margin*/
#container-2 {
    margin: 20px auto;
}

#container-3 {
    margin: 20px auto;
}

.h1 {
    font-size: 36px;
}

p {
    text-align: justify;
    font-size: 16px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 100px;
}

/*sm*/
@media (min-width: 576px) {

    #logo {
        height: 65px;
    }
}

/*md*/
@media (min-width: 768px) {


    p {
        font-size: 20px;
    }

    .h1 {
        font-size: 48px;
    }

    #container-1 {
        gap: 30px;
    }

}

/*lg*/
@media (min-width: 992px) {


}


/*xl*/
@media (min-width: 1200px) {


}


