p {
    text-align: justify;
}

.nav-item {
    margin: 0 15px;
}

#logo {
    height: 70px;
}

#container-1 {
    margin: 15px auto;
}

#img-1 {
    width: 300px;
}

#container-2 {
    margin: 15px auto;
}

/*sm*/
@media (min-width: 576px) {
    #logo {
        height: 65px;
    }

    #img-1 {
        width: 300px;
    }

    #container-1 {
        margin: 20px auto;
    }

    #container-2 {
        margin: 20px auto;
    }
}

/*md*/
@media (min-width: 768px) {
    #logo {
        height: 60px;
    }

    #img-1 {
        width: 350px;
    }

    #container-1 {
        margin: 25px auto;
        gap: 30px;
    }

    #container-2 {
        margin: 25px auto;
    }
}

/*lg*/
@media (min-width: 992px) {
    #logo {
        height: 55px;
    }

    #img-1 {
        width: 400px;
    }

    #container-1 {
        margin: 30px auto;
    }

    #container-2 {
        margin: 30px auto;
    }
}
/*xl*/
@media (min-width: 1200px) {
    #logo {
        height: 50px;
    }
}


