body{
    background-color: #007FFF ;
}

#logo {
    height: 70px;
}

#container-1 {
    margin: 20px auto 0 auto;
}

.h1{
    font-size: 36px;
}

p {
    text-align: justify;
    font-size: 16px;
}

#video{
    display: block;
    margin: 0 auto 20px auto;
    width: 100%;
}

footer{
    bottom: 0;
    width: 100%;
    height: 100px;
}

/*sm*/
@media (min-width: 576px) {

    #logo {
        height: 65px;
    }

}

/*md*/
@media (min-width: 768px) {

    #video{
        width: 80%;
    }

    p{
        font-size: 20px;
    }

    .h1{
        font-size: 48px;
    }

    #container-1{
        flex-direction: column;
    }
}

/*lg*/
@media (min-width: 992px) {

    #video{
        width: 70%;
    }
}
/*xl*/
@media (min-width: 1200px) {

    #video{
        width: 60%;
    }

}


